{
  "extends": [
    "standard"
  ],
  "rules": {
    "no-console": 1,
    "no-debugger": 1,
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      0
    ]
  }
}
